.color-hintergrund {
    background-color: #1E1E1E;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-hintergrund h1 {
    color: #929293FF;
    margin: 0;
}

.color-tabelle {
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.color {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: 4px solid #3E3942;
    transition: .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color svg {
    color: #929293;
    font-size: 35px;
}

.color:hover {
    transform: scale(105%);
}

.color:active {
    transform: scale(99%);
}

.design-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.auswählen {
    border-radius: 10px;
    color: #929293;
    background-color: var(--primary);
    border: 4px solid #3E3942;
    width: 175px;
    height: 50px;
    font-size: 20pt;
    font-weight: bolder;
}

.farbe {
    width: 280px;
    height: 80px;
    border-radius: 15px;
    background-color: var(--primary);
    border: 6px solid #1E1E1E;
    color: #929293;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
}

.auswählen:hover {
    transform: scale(105%);
    filter: drop-shadow(0px 0px 8px #1E1E1E);
}

.farbe h1 {
    margin: 0;
    cursor: default;
}

@media screen and (max-width: 460px){

    .color-hintergrund {
        width: 90px;
        height: 140px;
        font-size: 5px;
    }

    .color-tabelle {
        width: 152px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .color {
        width: 17px;
        height: 17px;
        border-radius: 5px;
        border: 1.5px solid #3E3942;
        transition: 0.05s ease-in-out;
    }

    .auswählen {
        border-radius: 7px;
        color: #929293;
        background-color: var(--primary);
        border: 2px solid #3E3942;
        width: 105px;
        font-size: 10px;
        font-weight: bolder;
    }
}