:root {
  font-family: "K2D", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #350751;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3E3942;
  border-radius: 5px;
}

body {
  background-color: #3e3942;
}

input {
  transition: 0.1s;
}

.container {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.impressum {
  color: #929293;
  position: absolute;
  bottom: 5px;
  right: 30px;
  cursor: default;
}

.privacy {
  color: #929293;
  position: absolute;
  bottom: 5px;
  left: 30px;
  cursor: default;
}

.impressum:hover {
  transform: scale(105%);
  filter: brightness(120%);
}

.impressum:active {
  transform: scale(97%);
}

.privacy:hover {
  transform: scale(105%);
  filter: brightness(120%);
}

.privacy:active {
  transform: scale(97%);
}
.menu-container {
  align-items: center;
}

.row {
  display: flex;
  gap: 1.25rem;
  font-size: 100px;
}


body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.red {
  color: #FF2828;
  font-size: 33pt;
  -webkit-text-stroke: 2px #1E1E1E;
}

.hmb {
  background-color: var(--primary);
  color: #929293;
  border-radius: 20px;
  width: 784px;
  height: 500px;
  font-weight: bolder;
  display:flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56pt;
  border: 8px solid #1E1E1E;
  margin-bottom: 20px;
}

.wrong-hmb {
  position: absolute;
  display: unset;
  overflow-y: scroll;
  margin-left: 1250px;
  margin-top: 20px;
  width: 380px;
  gap: 10px;
}
.wrong {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrong img {
  width: 184px;
  border-radius: 20px;
  border: 8px solid #1E1E1E;
}

.wrong p {
  color: #FF2828;
  font-size: 28pt;
  margin: 0;
  text-align: center;
}

.correct-hmb {
  margin-left: -1250px;
  width: 380px;
}
.correct p {
  color:#038F00;
}

.hmb h1 {
  -webkit-text-stroke: 7px #3E3942;
}

.hmb h1, h2 {
  margin: 0;
}

.hmb h2 {
  font-size: 40pt;
}

.color-tabelle {
  width: 322px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.color {
  width: 37px;
  height: 37px;
  border-radius: 10px;
  border: 4px solid #3E3942;
  transition: 0.05s ease-in-out;
}

.current {
  transform: scale(1.2);
}

.color-hintergrund {
  background-color: #1E1E1E;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform:scale(180%);
}

.color-hintergrund h1 {
  color: #929293FF;
  margin: 0;
}

.auswählen {
  border-radius: 10px;
  color: #929293;
  background-color: var(--primary);
  border: 4px solid #3E3942;
  width: 175px;
  height: 50px;
  font-size: 20pt;
  font-weight: bolder;
}

.ig {
  background-color: var(--primary);
  padding: 30px;
  border-radius: 20px;
  border: 8px solid #1E1E1E;
}

.ig img {
  border-radius: 20px;
  border:10px solid #1E1E1E ;
  max-width: 380px;
  max-height: 480px;
}

.shapes-img img {
  width: inherit;
  max-height: 350px;
}

.answer {
  color: #929293;
  background-color: var(--primary);
  border: 8px solid #1E1E1E;
  border-radius: 20px;
  font-size: 20pt;
  width:420px ;
  height: 80px;
  text-align: center;
  font-weight: bolder;
  outline: none;
}

.row2 {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.mitte {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform:scale(120%);
}

.anzahl {
  color: #929293;
  background-color: var(--primary);
  height: 80px;
  width: 250px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #1E1E1E;
  font-size: 25px;
}

.info {
  background-color: var(--primary);
  border: 8px solid #1E1E1E;
  border-radius: 20px;
  color: #929293;
  width: 580px;
  height: 80px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag img {
  width: 150px;
  height: 90px;
  border: 8px solid #1E1E1E;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 20px;
}

.flag {
  background-color: var(--primary);
  padding: 20px;
  border-radius: 20px;
  border: 8px solid #1E1E1E;
  width: 590px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  overflow-y: scroll;
  height: 560px;
}

.language {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aw {
  width: 5000px;
  margin-top: 20px;
}

.selected {
  transform: scale(110%);
}

.zwei {
  width: 580px;
  margin-top: 10px;
  font-weight: lighter;
}

.zwei h1 {
  font-size: 25pt;
  font-weight: bold;
}

.mhs {
  font-size: 35pt;
}
.domrep {
  font-size: 40px;
}
.domrep2 {
  font-size: 35px;
}
.america {
  justify-content: center;
  color: #929293;
  font-size: 30px;
}
.off {
  font-size: 30pt;
}
.center {
  justify-content: center;
}
.hk {
  width: 250px;
height: 200px;
  color: #929293;
  background-color: var(--primary);
  position: absolute;
margin-left: 1228px;
  margin-top: 242px;
  border-radius: 15px;
  border: 8px solid #1E1E1E;
font-size: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
font-weight: bold;
}

.hk input {
  accent-color: #1E1E1E;
  width: 25px;
  filter: brightness(0.5);
}


.hk row {
  align-items: center;
}

.kb img {
  width: 130px;
  height: 80px;
  border: 8px solid #1E1E1E;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 20px;
}

.ch2 {
  margin-left: 820px;
  margin-top: 242px;
}
.gw {
  font-size: 45px;
}

.ig-stack {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card-smaller img {
  width: auto;
  max-width: 500px;
  max-height: 340px;
}

.regions {
  height: 730px;
  padding: 20px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #1E1E1E;
  border-radius: 20px;
  border: 8px solid #1E1E1E;
}

.regions .kb {
  border: 8px solid #3e3942;
}

.hintergrund-atlas {
  width: 1500px;
  height: 800px;
  border: 8px solid #1E1E1E;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--primary);


}

.atlas-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.abb hr {
  height: 4px;
  border: none;
  border-radius: 10px;
  background-color: #929293;
  margin-top: 2rem;
}

.aimg {
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 20px;
  font-size: 20pt;
  color: #929293;
  cursor: pointer;
}

.aimg img {
  height: 200px;
  max-width: 460px;
  border: 8px solid #1E1E1E;
  border-radius: 20px;
  gap: 20px;
}

.fullscreen-img {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.fullscreen-img img {
  height: 85%;
  max-width: 85%;
  border-radius: 20px;
  border: 10px solid #1E1E1E;
  background-color: #3e3942;
}

.regionen {
  border: 8px solid #3E3942;
}

@media screen and (max-width: 460px){

  .kb {
    width: 250px;
    height: 70px;
    font-size: 30px;
    border: 5px solid #1E1E1E;
  }

  .spielmoduswählen {
    width: 350px;
    height: 80px;
    border: 5px solid #1E1E1E;
    font-size: 30px;
  }

  .nametheflag {
    width: 350px;
    height: 80px;
    border: 5px solid #1E1E1E;
    font-size: 40px;
    -webkit-text-stroke: 2px #1E1E1E;
  }

  .menu-container {
    gap: 10px;
  }

  .privacy {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .impressum {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .kontinente {
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 13px;
    border: 4px solid #1E1E1E;
  }

  .ch {
    gap: 10px;
  }

  .abstand {
    gap: 10px;
  }

  .color-hintergrund {
    width: 90px;
    height: 140px;
    font-size: 5px;
  }

  .color-tabelle {
    width: 152px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .color {
    width: 17px;
    height: 17px;
    border-radius: 5px;
    border: 1.5px solid #3E3942;
    transition: 0.05s ease-in-out;
  }

  .auswählen {
    border-radius: 7px;
    color: #929293;
    background-color: var(--primary);
    border: 2px solid #3E3942;
    width: 105px;
    font-size: 10px;
    font-weight: bolder;
  }

  .hintergrund-atlas {
    width: 300px;
    height: 600px;
    border: 5px solid #1E1E1E;
  }

  .aimg {
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 20px;
    font-size: 20px;
    color: #929293;
    cursor: pointer;
  }

  .aimg img {
    height: 90px;
    max-width: 460px;
    border: 5px solid #1E1E1E;
    border-radius: 15px;
    gap: 2px;
  }

  .anzahl {
    color: #929293;
    background-color: var(--primary);
    height: 40px;
    width: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #1E1E1E;
    font-size: 12px;
  }

  .ig {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 15px;
    border: 4px solid #1E1E1E;
  }

  .ig img {
    border-radius: 15px;
    border: 4px solid #1E1E1E ;
    max-width: 250px;
    max-height: 280px;
  }

  .info {
    background-color: var(--primary);
    border: 4px solid #1E1E1E;
    border-radius: 15px;
    color: #929293;
    width: 300px;
    height: 50px;
    font-size: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answer {
    color: #929293;
    background-color: var(--primary);
    border: 4px solid #1E1E1E;
    border-radius: 15px;
    font-size: 12px;
    width: 190px ;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    outline: none;
  }

  .row2 {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  .hmb {
    background-color: var(--primary);
    color: #929293;
    border-radius: 20px;
    width: 360px;
    height: 400px;
    font-weight: bolder;
    display:flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #1E1E1E;
    margin-bottom: 10px;
  }

  .hmb h1 {
    font-size: 105px;
    -webkit-text-stroke: 2px #1E1E1E;
  }


  .anzahl-richtig {
    font-size: 10px;
  }

  .wrong-hmb {
    position: absolute;
    display: unset;
    overflow-y: scroll;
    margin-left: 1250px;
    margin-top: 20px;
    width: 380px;
    gap: 10px;
  }
  .wrong {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrong img {
    width: 184px;
    border-radius: 20px;
    border: 8px solid #1E1E1E;
  }

  .wrong p {
    color: #FF2828;
    font-size: 28pt;
    margin: 0;
    text-align: center;
  }

  .correct-hmb {
    margin-left: -1250px;
    width: 380px;
  }
  .correct p {
    color:#038F00;
  }

  .hmb h1 {
    -webkit-text-stroke: 7px #3E3942;
  }

  .hmb h1, h2 {
    margin: 0;
  }

  .hmb h2 {
    font-size: 40pt;
  }

  .rw {
    gap: 10px;
  }

}
