:root {
  font-family: "K2D", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #350751;
}

body {
  background-color: #3e3942;
}

input {
  transition: 0.1s;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.current {
  transform: scale(1.2);
}

.zwei {
  width: 580px;
  margin-top: 10px;
  font-weight: lighter;
}

.zwei h1 {
  font-size: 25pt;
  font-weight: bold;
}

.mhs {
  font-size: 3500pt;
}

.off {
  font-size: 30pt;
}

.center {
  justify-content: center;
}

.hk {
  width: 250px;
  height: 200px;
  color: #929293;
  background-color: var(--primary);
  position: absolute;
  margin-left: 1228px;
  margin-top: 242px;
  border-radius: 15px;
  border: 8px solid #1E1E1E;
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  font-weight: bold;
}

.hk input {
  accent-color: #1E1E1E;
  width: 25px;
  filter: brightness(0.5);
}


.hk row {
  align-items: center;
}

.abb hr {
  height: 400px;
  border: none;
  border-radius: 10px;
  background-color: #929293;
  margin-top: 2rem;
}

@media screen and (max-width: 460px){

  .ch {
    gap: 10px;
  }

  .abstand {
    gap: 10px;
  }

  .anzahl-richtig {
    font-size: 10px;
  }
}
